@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
	font-family: "Roboto", sans-serif; /* Apply 'Roboto' font to the body */
	line-height: 28px;
	background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto Slab", serif; /* Apply 'Roboto Slab' font to headers */
}

nav {
	font-family: "Roboto Slab", serif;
}

body::-webkit-scrollbar {
	display: none;
}

.set-radius-zero {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.content-wrapper {
	margin-top: 40px;
	min-height: 100%;
	padding-bottom: 90px;
}

.header-line {
	font-weight: 900;
	padding-bottom: 25px;
	border-bottom: 1px solid #eeeeee;
	text-transform: uppercase;
}

.pad-botm {
	padding-bottom: 30px;
}

/* =============================================================
FOOTER SECTION STYLES
============================================================ */
.footer-section {
	color: #000;
	font-size: 13px;
	left: 0;
	bottom: 0;
	width: 98%;
}

.footer-section a,
.footer-section a:hover {
	color: #000;
}
